@model IEnumerable<CRUDDoMVC.Models.UsuarioModel>
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Agenda de usuarios</h1>
</div>
<br />
<div class="text-center" redirect="">
    <a asp-controller="Usuario" asp-action="CadastrarUsuario" class="btn btn-success">cadastrar usuario </a>

</div>


@if (Model.ToList().Count == 0)
{
    <h3>
        Lista vazia no momento.
    </h3>
}

else if (Model.ToList() != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
            </tr>
        </thead>
        @foreach (var i in Model.ToList())
        {
            <tbody>
                <tr>
                    <th scope="row">@i.Id</th>
                    <td>@i.NomeUsuario</td>
                    <td>@i.IdadeUsuario</td>
                    <td>
                        <div class="d-flex gap-1">
                            <a asp-controller="Usuario" asp-action="EditarUsuario" asp-route-id="@i.Id" class="btn btn-warning">Editar</a>

                            <button type="submit" class="btn btn-danger btn btn-ver-usuarios" data-id="@i.Id">
                                Excluir usuario
                            </button>
                            @{
                                // aqui vamos criar a casca do modal colocando algumas infos pra vincular com o ajax =)
                                //modal fade ta basicamente falando que estamos criando uma modal(fundo cinza janelinha aberta)
                                //modal dialog ta falando que não poderemos sair da modal enquanto nao interagirmos com ela
                                //modal content faz o usuario focar em uma informação e mantem o usuario no contexto da tarefa atual
                            }
                      
                            <div class="modal fade" id="modalUsuario" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content" id="conteudoModal">
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </td>
                </tbody>
            }
        </table>
    }

    @section Scripts
    {
        <script>
            $(".btn-ver-usuarios").click(function()
            {
                var idTarefa = $(this).data("id");
                $.ajax(
                {
                    url:'@Url.Action("MostrarUsuario", "Home")',
                    type: 'GET',
                    data: { id : idTarefa},
                    success: function (resultadoHtml){
                        $("#conteudoModal").html(resultadoHtml);
                        $("#modalUsuario").modal("show"); },
                    error: function ()
                        { alert("Tentativa de exclusão não sucedida... ")}
                });
            });  
        </script>
    }

   


